@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/*顏色*/
:root {
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-300: #c0fa73;
  --primary-400: #57a203;
  --primary-500: #477a11;
  --neutral-0: #ffffff;
  --neutral-100: #f8f9fa;
  --neutral-200: #e9ecef;
  --neutral-300: #dee2e6;
  --neutral-400: #ced4da;
  --neutral-500: #adb5bd;
  --neutral-600: #6c757d;
  --neutral-700: #495057;
  --neutral-800: #343a40;
  --neutral-900: #212529;
  --danger-300: #d74f4f;
}
/*標籤的基本樣式*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--neutral-900);
  text-decoration: none;
  display: block;
  font-weight: 500;
}

/*通用樣式*/
.container {
  width: 1296px; /* 1920-(312*2) */
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.col-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12);
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 2);
}

.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 3);
}

.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 4);
}

.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 5);
}

.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 6);
}
.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 7);
}

.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 8);
}

.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 9);
}

.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 10);
}

.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 11);
}

.col-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-8 {
  gap: 8px;
}

.h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

.h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.h6 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

.text-sm {
  font-style: 14px;
}

.text-primary-400 {
  color: var(--primary-400);
}

.text-danger {
  color: var(--danger-300);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.bg-neutral-100 {
  background: var(--neutral-100);
}

.p-12 {
  padding: 12px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.pt-32 {
  padding-top: 32px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.me-48 {
  margin-right: 48px;
}

.me-40 {
  margin-right: 40px;
}

.me-24 {
  margin-right: 24px;
}

.me-12 {
  margin-right: 12px;
}

.me-8 {
  margin-right: 8px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

/*元件*/
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 12px;
  color: var(--neutral-300);
  font-weight: 700;
}

.breadcrumb-item {
  display: flex;
  font-weight: 500;
}

.breadcrumb-link {
  color: var(--neutral-600);
}

.btn {
  font-family: inherit;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn-dark {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

.btn-light {
  border: 1px solid var(--neutral-900);
}

.footer {
  border-top: 1px solid var(--neutral-300);
  color: var(--neutral-600);
  text-align: center;
}
